.main-create-subject {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
}

form .submit-button {
    background-color: var(--main-blue);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 100%;
}

form .submit-button:hover {
    background-color: #00A3B5;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}