.nav-aside {
    background-color: var(--main-black);
    transition: all 0.3s ease-in-out;
}

.nav-aside .nav-aside-selected-item {
    background-color: var(--secondary-black);
    border-radius: 10px;
    box-shadow: 0 0 10px #232222;
}

.nav-aside-item:hover {
    background-color: var(--secondary-black);
    border-radius: 10px;
    box-shadow: 0 0 10px #232222;
    transition: all 0.3s ease-in-out;
}

.toggle-icon {
    color: var(--main-white);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}