.name-filter {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    min-width: 150px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.name-filter:hover, .name-filter:focus {
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.date-filter {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    min-width: 140px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.date-filter:hover, .date-filter:focus {
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.clear-filters {
    background-color: var(--main-blue);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.clear-filters:hover {
    background-color: #00A3B5;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}